body{
  background-image: 
  url("imagenes/fondo.png");
  background-size:cover;
  background-position:center;
  background-repeat:repeat;
  background-attachment:fixed;
  /*el quilombo que hay q hacer para tener un fondo transparente*/
  background-color:rgb(30, 30, 145); 
  /*rgba(113, 36, 208, 0.5));*/
  background-blend-mode: multiply;
  height:500px; 
}
*{
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.parrafo{
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color:antiquewhite;
}
#logo{

    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;

    background:linear-gradient(to right,#150529,#35145f, #a764ff,#AD6DFF);
    background-clip: text;
    color: transparent;

    text-align:center;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display:flex;
  justify-content: center;
  background-color:#AD6DFF;

}
.container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.vivo{
  display:flex;
  justify-content:flex-start;
}
 #vista{
  align-self:flex-start;
  color:#FFED82;
}
#datos{
  color:#67B4FF;
}
#info-estrellas{

  color:antiquewhite;
}
#ejes{
  color:#FFED82;
}
